* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  min-height: 100vh;
}

.lesson-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* .app_div {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  min-height: 100vh;
} */
